* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  background: #111222;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("/src/assets/bg.webp");
}

.score-container {
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding: 20px;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 10px;
  background: white;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 250px;
  font-size: 30px;
  font-weight: 900;
  border-radius: 20px;
  background: saddlebrown;
  border: 10px solid white;
  color: white;
  font-family: monospace;
}